body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif; 
}
a {
  color: #00B7FF; 
}
.well label {
  display: block;
}
.well input {
  margin-bottom: 5px;
}
.btn {
  margin-top: 9px;
  border: outset 2px rgb(17, 112, 33); 
  
}

/* para el drop down de las colecciones */
a {color: black;margin: 5px; text-decoration: none;}

.dropdown-menu li:hover .sub-menu {
    visibility: visible;
}

.dropdown:hover .dropdown-menu {
    display: block; 
    margin-top: 0;
}

.dropdown-menu .sub-menu {
    left: 100%;
    position: absolute;
    top: 0;
    visibility: hidden;
    margin-top: -1px;
}

span{
  color: black;
  font: 20px arial;
}

